- form_for @duplicata do |f|
  %p
    = f.label :pedido_id
    = f.text_field :pedido_id
  %p
    = f.label :cliente_id
    = f.text_field :cliente_id
  %p
    = f.label :lancamento_id
    = f.text_field :lancamento_id
  %p
    = f.label :plano_de_contas_id
    = f.text_field :plano_de_contas_id
  %p
    = f.label :tipo_de_cobranca
    = f.text_field :tipo_de_cobranca
  %p
    = f.label :agencia_id
    = f.text_field :agencia_id
  %p
    = f.label :cheque
    = f.text_field :cheque
  %p
    = f.label :serie_do_cheque
    = f.text_field :serie_do_cheque
  %p
    = f.label :cheque_nominal_a
    = f.text_field :cheque_nominal_a
  %p
    = f.label :vendedor_id
    = f.text_field :vendedor_id
  %p
    = f.label :data_de_emissao
    = f.text_field :data_de_emissao
  %p
    = f.label :data_de_vencimento
    = f.text_field :data_de_vencimento
  %p
    = f.label :valor
    = f.text_field :valor
  %p
    = f.submit :Salvar
