!!! XML
!!!
%html
  %head
    %title Financeiro
    = stylesheet_link_tag '../javascripts/ext/resources/css/ext-all'
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'ext/adapter/ext/ext-base'
    = javascript_include_tag 'ext/ext-all'
    = javascript_include_tag 'application'
  %body
    = yield

