!!! XML
!!!
%html
  %head
    %title Financeiro
    = stylesheet_link_tag '../javascripts/ext/resources/css/ext-all.js'
    = javascript_include_tag 'jquery'
    = javascript_include_tag '../javascripts/ext/adapter/ext/ext-base'
    = javascript_include_tag '../javascripts/ext/ext-all.js'
    = javascript_include_tag 'application'
  %body
    = render(:partial => 'compartilhados/flash', :locals => { :flash => flash })
    = yield